/* 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}/* style.css 
body, html {

    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color:#1a191d; 
     display: flex;
    justify-content: center;
    align-items: center;
  
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: -1; 
}

#content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 20%;
}
.img__portada{
    display: flex;
    width: 40%;
    height: 100%;
    /* justify-content: center;
    align-items: center; 
    border: 1px solid red;
    position: absolute;
   right: 0;
   top: 0;
}
.img__portada img{
    object-fit: cover;
    height: 30rem;
    border: 1px solid red;
    /* margin-top: 10rem; 
    border-radius: 1rem;
    align-items: center;
    /* background-color: rgb(75, 71, 71); 
}




.box {
    display: flex;
  
    margin-left: 30rem;
    perspective: 1000px;
    /* border: 1px solid red; 
}

.sphere {
    position: relative;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    animation: rotate 10s infinite linear;
    /* border: 1px solid red; 
    
}

.face {
    position: absolute;
    width: 170px;
    height:170px;
    
    /* border: 1px solid #ccc; 
    box-sizing: border-box;
    border-radius: 10px;
    /* box-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 100px rgba(255, 255, 255, 0.6); 
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 80%);
    
}

.front  { transform: rotateY(  0deg) translateZ(90px); }
.back   { transform: rotateY(180deg) translateZ(90px); }
.left   { transform: rotateY(-90deg) translateZ(90px); }
.right  { transform: rotateY( 90deg) translateZ(90px); }
.top    { transform: rotateX( 90deg) translateZ(90px); }
.bottom { transform: rotateX(-90deg) translateZ(90px); }

.face img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes rotate {
    from { transform: rotateX(0deg) rotateY(0deg); }
    to   { transform: rotateX(360deg) rotateY(360deg); }
}


.nombre{
    display: flex;
    width: 100%;
    /* height: 5rem; 
    flex-direction: column;
    border: 1px solid red;
    /* position: absolute; 
    /* margin-bottom: 50rem; 
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.boton__explosion{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: black;
  flex-direction: row;
}
.contenedor__botton{
  display: flex;
  width: 50%;
  /* border: 1px solid red; */
  /* margin-left: 5rem; */
}
.mensaje{
  /* border: 1px solid red; */
  width: 30%;
  height: 20%;
  /* height: 40rem; */
  margin-top: 12rem;
  font-size: 1.2em;
    font-family: 'Comic Sans MS', cursive;
    color: #fffefe; /* Naranja ardiente */
    /* transform: rotate(-9deg); */
    text-shadow: 1px 1px 4px rgba(255, 69, 0, 0.8);
    /* position: relative; */
  margin-left: 10rem;

}

.button {
    cursor: pointer;
    position: relative;
    display: inline-block;
    transform-style: preserve-3d;
    transform: rotateX(-45deg) rotateY(25deg) rotateZ(0deg);
    background-color: transparent;
    border: none;
    border: 2px solid yellow;
    inset: 0;
    margin: auto;
  }
  
  .lid {
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    transform-origin: 0 80px -120px;
    height: 80px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .lid:hover,
  .button:hover .lid {
    transform: translate(-50%, -50%) rotateX(60deg);
  }
  
  .lid .side {
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: rgba(63, 112, 141, 0.308);
    position: absolute;
    top: 50%;
    left: 50%;
    border: solid 1px rgba(0, 132, 255, 0.226);
  }
  .front {
    transform: translate(-50%, -50%) translateZ(125px);
    height: 80px !important;
  }
  .top {
    transform: translate(-50%, -50%) rotateX(90deg) translateZ(40px);
    background-color: rgba(167, 47, 10, 0.438);
  }
  .left {
    transform: translate(-50%, -50%) rotateY(90deg) translateZ(125px);
    height: 80px !important;
  }
  
  .right {
    transform: translate(-50%, -50%) rotateY(-90deg) translateZ(125px);
    height: 80px !important;
  }
  
  .back {
    transform: translate(-50%, -50%) rotateY(180deg) translateZ(125px);
    background-color: rgba(250, 234, 18, 0.418);
    height: 80px !important;
  }
  
  .back::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 10px;
    background-color: black;
    bottom: 0;
    left: 10px;
  }
  
  .back::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 10px;
    background-color: black;
    bottom: 0;
    right: 10px;
  }
  
  .panels {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(90deg) translateZ(-40px);
  }
  
  .panel-1 {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 250px;
    background-color: rgb(166, 255, 0);
    background: repeating-linear-gradient(
      45deg,
      rgb(247, 243, 33) 0% 2%,
      black 2% 4%
    );
    box-shadow: 0px 0px 0px 20px rgb(255, 123, 0);
  }
  
  .panel-2 {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(-135deg, rgb(43, 42, 42), black);
    border: solid 5px rgb(247, 243, 33);
  }
  
  .panel-1::after {
    content: "SELF-DESTRUCT";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 290px;
    height: 25px;
    color: white;
    font-weight: bold;
    transform: translate(-50%, -50%) translateY(170px);
    font-size: larger;
    background-color: rgb(255, 123, 0);
  }
  
  .panel-1::before {
    content: "WARNING: DANGER";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 290px;
    height: 25px;
    color: white;
    font-weight: bold;
    transform: translate(-50%, -50%) rotateZ(90deg) translateY(170px);
    font-size: larger;
    background-color: rgb(255, 123, 0);
  }
  
  .btn-trigger {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }
  
  .btn-trigger-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: rgb(207, 195, 195);
    box-shadow: -0px 1px 0 rgb(54, 54, 54), -0px 2px 0 rgb(54, 54, 54),
      -1px 3px 0 rgb(54, 54, 54), -1px 4px 0 rgb(54, 54, 54),
      -2px 5px 0 rgb(54, 54, 54), -2px 6px 0 rgb(54, 54, 54),
      -3px 7px 0 rgb(54, 54, 54), -3px 8px 0 rgb(54, 54, 54),
      -4px 9px 0 rgb(54, 54, 54), -4px 10px 0 rgb(54, 54, 54),
      -5px 11px 0 rgb(54, 54, 54), -5px 12px 0 rgb(54, 54, 54),
      -6px 13px 0 rgb(54, 54, 54), -6px 14px 0 rgb(54, 54, 54),
      -7px 15px 0 rgb(54, 54, 54), -7px 16px 0 rgb(54, 54, 54),
      -8px 17px 0 rgb(54, 54, 54), -8px 18px 0 rgb(54, 54, 54),
      -9px 19px 0 rgb(54, 54, 54), -9px 20px 0 rgb(54, 54, 54),
      -10px 21px 0 rgb(54, 54, 54), -10px 22px 0 rgb(54, 54, 54),
      -11px 23px 0 rgb(54, 54, 54), -11px 24px 0 rgb(54, 54, 54),
      -12px 25px 0 rgb(54, 54, 54), -12px 26px 0 rgb(54, 54, 54);
    border-radius: 50%;
    transform: translate(-50%, -50%) translateZ(50px);
  }
  
  .btn-trigger-2 {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgb(241, 17, 17);
    box-shadow: -0px 1px 0 rgb(128, 5, 5), -0px 2px 0 rgb(128, 5, 5),
      -1px 3px 0 rgb(128, 5, 5), -1px 4px 0 rgb(128, 5, 5),
      -2px 5px 0 rgb(128, 5, 5), -2px 6px 0 rgb(128, 5, 5),
      -3px 7px 0 rgb(128, 5, 5), -3px 8px 0 rgb(128, 5, 5),
      -4px 9px 0 rgb(128, 5, 5), -4px 10px 0 rgb(128, 5, 5),
      -5px 11px 0 rgb(128, 5, 5), -5px 12px 0 rgb(128, 5, 5),
      -6px 13px 0 rgb(128, 5, 5), -6px 14px 0 rgb(128, 5, 5),
      -7px 15px 0 rgb(128, 5, 5), -7px 16px 0 rgb(128, 5, 5);
    border-radius: 50%;
    transition: all 0.3s;
    transform: translate(-40%, -70%) translateZ(100px);
  }
  
  .btn-trigger-2:active {
    transform: translate(-50%, -50%) translateZ(100px);
    box-shadow: none;
  }
  
  @keyframes rotate {
    100% {
      transform: rotateX(360deg);
    }
  }
  